body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1483px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:106px;
  width:319px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:315px;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:106px;
  width:319px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:315px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:106px;
  width:319px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:315px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:179px;
  width:122px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:258px;
  width:178px;
  height:69px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:174px;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:362px;
  width:114px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:110px;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:497px;
  width:134px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:130px;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:497px;
  width:134px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:130px;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:629px;
  width:134px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:130px;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:729px;
  width:134px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:130px;
  word-wrap:break-word;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:208px;
  width:0px;
  height:0px;
}
#u10_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u10_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:38px;
  width:18px;
  height:18px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:327px;
  width:0px;
  height:0px;
}
#u11_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u11_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:19px;
  width:758px;
  height:8px;
}
#u11_seg2 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:19px;
  width:8px;
  height:16px;
}
#u11_seg3 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:23px;
  width:18px;
  height:18px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:320px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:409px;
  width:0px;
  height:0px;
}
#u12_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u12_seg1 {
  border-width:0px;
  position:absolute;
  left:-469px;
  top:52px;
  width:473px;
  height:8px;
}
#u12_seg2 {
  border-width:0px;
  position:absolute;
  left:-469px;
  top:52px;
  width:8px;
  height:36px;
}
#u12_seg3 {
  border-width:0px;
  position:absolute;
  left:-474px;
  top:76px;
  width:18px;
  height:18px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:-270px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:409px;
  width:0px;
  height:0px;
}
#u13_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u13_seg1 {
  border-width:0px;
  position:absolute;
  left:-300px;
  top:52px;
  width:304px;
  height:8px;
}
#u13_seg2 {
  border-width:0px;
  position:absolute;
  left:-300px;
  top:52px;
  width:8px;
  height:36px;
}
#u13_seg3 {
  border-width:0px;
  position:absolute;
  left:-305px;
  top:76px;
  width:18px;
  height:18px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:-186px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:547px;
  width:0px;
  height:0px;
}
#u14_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u14_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:59px;
  width:518px;
  height:8px;
}
#u14_seg2 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:59px;
  width:8px;
  height:23px;
}
#u14_seg3 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:70px;
  width:18px;
  height:18px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:183px;
  top:55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:1342px;
  width:217px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:213px;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:547px;
  width:0px;
  height:0px;
}
#u16_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u16_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:35px;
  width:555px;
  height:8px;
}
#u16_seg2 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:35px;
  width:8px;
  height:760px;
}
#u16_seg3 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:783px;
  width:18px;
  height:18px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:497px;
  top:116px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:60px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:834px;
  width:292px;
  height:60px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:288px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:60px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:981px;
  width:292px;
  height:60px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:288px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:1115px;
  width:320px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:316px;
  word-wrap:break-word;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:679px;
  width:0px;
  height:0px;
}
#u20_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u20_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:28px;
}
#u20_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg4 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg5 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg6 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg7 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg8 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg9 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg10 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg11 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg12 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg13 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg14 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg15 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg16 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg17 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg18 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg19 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg20 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg21 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg22 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg23 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg24 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg25 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg26 {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg27 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg28 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg29 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg30 {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg31 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg32 {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg33 {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg34 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg35 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:21px;
  width:9px;
  height:8px;
}
#u20_seg36 {
  border-width:0px;
  position:absolute;
  left:-385px;
  top:21px;
  width:355px;
  height:8px;
}
#u20_seg37 {
  border-width:0px;
  position:absolute;
  left:-385px;
  top:21px;
  width:8px;
  height:29px;
}
#u20_seg38 {
  border-width:0px;
  position:absolute;
  left:-390px;
  top:38px;
  width:18px;
  height:18px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:-240px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:779px;
  width:0px;
  height:0px;
}
#u21_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u21_seg1 {
  border-width:0px;
  position:absolute;
  left:-456px;
  top:37px;
  width:460px;
  height:8px;
}
#u21_seg2 {
  border-width:0px;
  position:absolute;
  left:-456px;
  top:37px;
  width:8px;
  height:18px;
}
#u21_seg3 {
  border-width:0px;
  position:absolute;
  left:-461px;
  top:43px;
  width:18px;
  height:18px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:-262px;
  top:33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:894px;
  width:0px;
  height:0px;
}
#u22_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:91px;
}
#u22_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:75px;
  width:18px;
  height:18px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:1041px;
  width:0px;
  height:0px;
}
#u23_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u23_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:62px;
  width:18px;
  height:18px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:928px;
  width:272px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:268px;
  word-wrap:break-word;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:1035px;
  width:272px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:268px;
  word-wrap:break-word;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:1198px;
  width:333px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:329px;
  word-wrap:break-word;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:864px;
  width:0px;
  height:0px;
}
#u27_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:670px;
  height:8px;
}
#u27_seg1 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:-4px;
  width:8px;
  height:68px;
}
#u27_seg2 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:52px;
  width:18px;
  height:18px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:315px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:1011px;
  width:0px;
  height:0px;
}
#u28_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:670px;
  height:8px;
}
#u28_seg1 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:-4px;
  width:8px;
  height:28px;
}
#u28_seg2 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:12px;
  width:18px;
  height:18px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:295px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:1145px;
  width:0px;
  height:0px;
}
#u29_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:633px;
  height:8px;
}
#u29_seg1 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:-4px;
  width:8px;
  height:57px;
}
#u29_seg2 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:41px;
  width:18px;
  height:18px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:291px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:1291px;
  top:1223px;
  width:0px;
  height:0px;
}
#u30_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:28px;
  height:8px;
}
#u30_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-573px;
  width:8px;
  height:577px;
}
#u30_seg2 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:-573px;
  width:83px;
  height:8px;
}
#u30_seg3 {
  border-width:0px;
  position:absolute;
  left:-61px;
  top:-578px;
  width:18px;
  height:18px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-320px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:1284px;
  top:953px;
  width:0px;
  height:0px;
}
#u31_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u31_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-303px;
  width:8px;
  height:307px;
}
#u31_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:-303px;
  width:83px;
  height:8px;
}
#u31_seg3 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-308px;
  width:18px;
  height:18px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-182px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:1284px;
  top:1060px;
  width:0px;
  height:0px;
}
#u32_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u32_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-410px;
  width:8px;
  height:414px;
}
#u32_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:-410px;
  width:83px;
  height:8px;
}
#u32_seg3 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-415px;
  width:18px;
  height:18px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-235px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:1175px;
  width:0px;
  height:0px;
}
#u33_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:119px;
}
#u33_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:111px;
  width:1047px;
  height:8px;
}
#u33_seg2 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:111px;
  width:8px;
  height:56px;
}
#u33_seg3 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:155px;
  width:18px;
  height:18px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:438px;
  top:107px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:1391px;
  width:217px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:213px;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:1484px;
  width:177px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:173px;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:1375px;
  top:1432px;
  width:0px;
  height:0px;
}
#u36_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u36_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:30px;
}
#u36_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg4 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg5 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg6 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg7 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg8 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg9 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg10 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg11 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg12 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg13 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg14 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg15 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg16 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg17 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg18 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg19 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg20 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg21 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg22 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg23 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg24 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg25 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg26 {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg27 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg28 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg29 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg30 {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg31 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg32 {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg33 {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg34 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg35 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:23px;
  width:9px;
  height:8px;
}
#u36_seg36 {
  border-width:0px;
  position:absolute;
  left:-627px;
  top:23px;
  width:597px;
  height:8px;
}
#u36_seg37 {
  border-width:0px;
  position:absolute;
  left:-627px;
  top:23px;
  width:8px;
  height:29px;
}
#u36_seg38 {
  border-width:0px;
  position:absolute;
  left:-632px;
  top:40px;
  width:18px;
  height:18px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:-360px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:1617px;
  width:112px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:108px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:1752px;
  width:320px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:316px;
  word-wrap:break-word;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:1534px;
  width:0px;
  height:0px;
}
#u39_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u39_seg1 {
  border-width:0px;
  position:absolute;
  left:-465px;
  top:39px;
  width:469px;
  height:8px;
}
#u39_seg2 {
  border-width:0px;
  position:absolute;
  left:-465px;
  top:39px;
  width:8px;
  height:44px;
}
#u39_seg3 {
  border-width:0px;
  position:absolute;
  left:-470px;
  top:71px;
  width:18px;
  height:18px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:-279px;
  top:35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:1667px;
  width:0px;
  height:0px;
}
#u40_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:89px;
}
#u40_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:73px;
  width:18px;
  height:18px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:1928px;
  width:112px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:108px;
  word-wrap:break-word;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:1928px;
  width:112px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:108px;
  word-wrap:break-word;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:1812px;
  width:0px;
  height:0px;
}
#u43_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:90px;
}
#u43_seg1 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:82px;
  width:106px;
  height:8px;
}
#u43_seg2 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:82px;
  width:8px;
  height:34px;
}
#u43_seg3 {
  border-width:0px;
  position:absolute;
  left:-107px;
  top:104px;
  width:18px;
  height:18px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:78px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:1782px;
  width:0px;
  height:0px;
}
#u44_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:25px;
  height:8px;
}
#u44_seg1 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-4px;
  width:8px;
  height:150px;
}
#u44_seg2 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:134px;
  width:18px;
  height:18px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:2062px;
  width:122px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:2155px;
  width:122px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:2062px;
  width:172px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:2112px;
  width:0px;
  height:0px;
}
#u48_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u48_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:18px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:1978px;
  width:0px;
  height:0px;
}
#u49_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:88px;
}
#u49_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:72px;
  width:18px;
  height:18px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2088px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:138px;
  width:1px;
  height:2087px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2088px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:138px;
  width:1px;
  height:2087px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:1835px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:1803px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:911px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:854px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:1051px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:1001px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:1198px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:1135px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2067px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:158px;
  width:27px;
  height:2067px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:796px;
  width:23px;
  word-wrap:break-word;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:1928px;
  width:112px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:108px;
  word-wrap:break-word;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:1812px;
  width:0px;
  height:0px;
}
#u62_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:92px;
}
#u62_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:84px;
  width:53px;
  height:8px;
}
#u62_seg2 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:84px;
  width:8px;
  height:32px;
}
#u62_seg3 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:104px;
  width:18px;
  height:18px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:1978px;
  width:0px;
  height:0px;
}
#u63_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u63_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:44px;
  width:85px;
  height:8px;
}
#u63_seg2 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:44px;
  width:8px;
  height:40px;
}
#u63_seg3 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:72px;
  width:18px;
  height:18px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:1978px;
  width:0px;
  height:0px;
}
#u64_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u64_seg1 {
  border-width:0px;
  position:absolute;
  left:-70px;
  top:41px;
  width:74px;
  height:8px;
}
#u64_seg2 {
  border-width:0px;
  position:absolute;
  left:-70px;
  top:41px;
  width:8px;
  height:43px;
}
#u64_seg3 {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:72px;
  width:18px;
  height:18px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
