body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1489px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:100px;
  width:319px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:315px;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:100px;
  width:319px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:315px;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:100px;
  width:319px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:315px;
  word-wrap:break-word;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:173px;
  width:122px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:252px;
  width:178px;
  height:69px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:174px;
  word-wrap:break-word;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:356px;
  width:114px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:110px;
  word-wrap:break-word;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:491px;
  width:134px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:130px;
  word-wrap:break-word;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:491px;
  width:134px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:130px;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:623px;
  width:134px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:130px;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:723px;
  width:134px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:130px;
  word-wrap:break-word;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:202px;
  width:0px;
  height:0px;
}
#u45_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u45_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:38px;
  width:18px;
  height:18px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:321px;
  width:0px;
  height:0px;
}
#u46_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:23px;
}
#u46_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:15px;
  width:758px;
  height:8px;
}
#u46_seg2 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:15px;
  width:8px;
  height:20px;
}
#u46_seg3 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:23px;
  width:18px;
  height:18px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:324px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:403px;
  width:0px;
  height:0px;
}
#u47_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u47_seg1 {
  border-width:0px;
  position:absolute;
  left:-469px;
  top:52px;
  width:473px;
  height:8px;
}
#u47_seg2 {
  border-width:0px;
  position:absolute;
  left:-469px;
  top:52px;
  width:8px;
  height:36px;
}
#u47_seg3 {
  border-width:0px;
  position:absolute;
  left:-474px;
  top:76px;
  width:18px;
  height:18px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:-270px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:403px;
  width:0px;
  height:0px;
}
#u48_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u48_seg1 {
  border-width:0px;
  position:absolute;
  left:-300px;
  top:52px;
  width:304px;
  height:8px;
}
#u48_seg2 {
  border-width:0px;
  position:absolute;
  left:-300px;
  top:52px;
  width:8px;
  height:36px;
}
#u48_seg3 {
  border-width:0px;
  position:absolute;
  left:-305px;
  top:76px;
  width:18px;
  height:18px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:-186px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:541px;
  width:0px;
  height:0px;
}
#u49_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:73px;
}
#u49_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:65px;
  width:518px;
  height:8px;
}
#u49_seg2 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:65px;
  width:8px;
  height:17px;
}
#u49_seg3 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:70px;
  width:18px;
  height:18px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:177px;
  top:61px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:1336px;
  width:217px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:213px;
  word-wrap:break-word;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:541px;
  width:0px;
  height:0px;
}
#u51_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u51_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:35px;
  width:555px;
  height:8px;
}
#u51_seg2 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:35px;
  width:8px;
  height:760px;
}
#u51_seg3 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:783px;
  width:18px;
  height:18px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:497px;
  top:116px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:60px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:828px;
  width:292px;
  height:60px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:288px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:60px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:975px;
  width:292px;
  height:60px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:288px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:60px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:1109px;
  width:344px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:340px;
  word-wrap:break-word;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:1175px;
  top:673px;
  width:0px;
  height:0px;
}
#u55_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u55_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:28px;
}
#u55_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg4 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg5 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg6 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg7 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg8 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg9 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg10 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg11 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg12 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg13 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg14 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg15 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg16 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg17 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg18 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg19 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg20 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg21 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg22 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg23 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg24 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg25 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg26 {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg27 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg28 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg29 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg30 {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg31 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg32 {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg33 {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg34 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg35 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:21px;
  width:9px;
  height:8px;
}
#u55_seg36 {
  border-width:0px;
  position:absolute;
  left:-385px;
  top:21px;
  width:355px;
  height:8px;
}
#u55_seg37 {
  border-width:0px;
  position:absolute;
  left:-385px;
  top:21px;
  width:8px;
  height:29px;
}
#u55_seg38 {
  border-width:0px;
  position:absolute;
  left:-390px;
  top:38px;
  width:18px;
  height:18px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:-240px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:773px;
  width:0px;
  height:0px;
}
#u56_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u56_seg1 {
  border-width:0px;
  position:absolute;
  left:-456px;
  top:33px;
  width:460px;
  height:8px;
}
#u56_seg2 {
  border-width:0px;
  position:absolute;
  left:-456px;
  top:33px;
  width:8px;
  height:22px;
}
#u56_seg3 {
  border-width:0px;
  position:absolute;
  left:-461px;
  top:43px;
  width:18px;
  height:18px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:-266px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:888px;
  width:0px;
  height:0px;
}
#u57_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:91px;
}
#u57_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:75px;
  width:18px;
  height:18px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:1035px;
  width:0px;
  height:0px;
}
#u58_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u58_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:62px;
  width:18px;
  height:18px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:922px;
  width:272px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:268px;
  word-wrap:break-word;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:1029px;
  width:272px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:268px;
  word-wrap:break-word;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:1192px;
  width:333px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:329px;
  word-wrap:break-word;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:858px;
  width:0px;
  height:0px;
}
#u62_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:670px;
  height:8px;
}
#u62_seg1 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:-4px;
  width:8px;
  height:68px;
}
#u62_seg2 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:52px;
  width:18px;
  height:18px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:315px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:1005px;
  width:0px;
  height:0px;
}
#u63_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:670px;
  height:8px;
}
#u63_seg1 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:-4px;
  width:8px;
  height:28px;
}
#u63_seg2 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:12px;
  width:18px;
  height:18px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:295px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:1139px;
  width:0px;
  height:0px;
}
#u64_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:621px;
  height:8px;
}
#u64_seg1 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:-4px;
  width:8px;
  height:57px;
}
#u64_seg2 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:41px;
  width:18px;
  height:18px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:285px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:1297px;
  top:1217px;
  width:0px;
  height:0px;
}
#u65_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:28px;
  height:8px;
}
#u65_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-573px;
  width:8px;
  height:577px;
}
#u65_seg2 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:-573px;
  width:83px;
  height:8px;
}
#u65_seg3 {
  border-width:0px;
  position:absolute;
  left:-61px;
  top:-578px;
  width:18px;
  height:18px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-320px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:947px;
  width:0px;
  height:0px;
}
#u66_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u66_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-303px;
  width:8px;
  height:307px;
}
#u66_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:-303px;
  width:83px;
  height:8px;
}
#u66_seg3 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-308px;
  width:18px;
  height:18px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-182px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:1054px;
  width:0px;
  height:0px;
}
#u67_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u67_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-410px;
  width:8px;
  height:414px;
}
#u67_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:-410px;
  width:83px;
  height:8px;
}
#u67_seg3 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-415px;
  width:18px;
  height:18px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-235px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:1169px;
  width:0px;
  height:0px;
}
#u68_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u68_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:118px;
}
#u68_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:111px;
  width:1047px;
  height:8px;
}
#u68_seg3 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:111px;
  width:8px;
  height:56px;
}
#u68_seg4 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:155px;
  width:18px;
  height:18px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:438px;
  top:107px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:1385px;
  width:217px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:213px;
  word-wrap:break-word;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:1525px;
  width:177px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:173px;
  word-wrap:break-word;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:1658px;
  width:112px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:108px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:1864px;
  width:320px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:316px;
  word-wrap:break-word;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:1575px;
  width:0px;
  height:0px;
}
#u73_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u73_seg1 {
  border-width:0px;
  position:absolute;
  left:-465px;
  top:39px;
  width:469px;
  height:8px;
}
#u73_seg2 {
  border-width:0px;
  position:absolute;
  left:-465px;
  top:39px;
  width:8px;
  height:44px;
}
#u73_seg3 {
  border-width:0px;
  position:absolute;
  left:-470px;
  top:71px;
  width:18px;
  height:18px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:-279px;
  top:35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:2040px;
  width:112px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:2040px;
  width:112px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:108px;
  word-wrap:break-word;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:1924px;
  width:0px;
  height:0px;
}
#u76_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:120px;
}
#u76_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:104px;
  width:18px;
  height:18px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1894px;
  width:0px;
  height:0px;
}
#u77_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:25px;
  height:8px;
}
#u77_seg1 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-4px;
  width:8px;
  height:150px;
}
#u77_seg2 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:134px;
  width:18px;
  height:18px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:2221px;
  width:122px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:2229px;
  width:122px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:2136px;
  width:172px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:2186px;
  width:0px;
  height:0px;
}
#u81_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u81_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:18px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2088px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:132px;
  width:1px;
  height:2087px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2088px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:132px;
  width:1px;
  height:2087px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:1947px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:1915px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:905px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:848px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:1045px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:995px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:1192px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:1129px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2067px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:152px;
  width:27px;
  height:2067px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:796px;
  width:23px;
  word-wrap:break-word;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:1759px;
  width:112px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:108px;
  word-wrap:break-word;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:2090px;
  width:0px;
  height:0px;
}
#u94_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u94_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:34px;
  width:18px;
  height:18px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:1424px;
  width:217px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:213px;
  word-wrap:break-word;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:1381px;
  top:1465px;
  width:0px;
  height:0px;
}
#u96_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u96_seg1 {
  border-width:0px;
  position:absolute;
  left:-627px;
  top:20px;
  width:631px;
  height:8px;
}
#u96_seg2 {
  border-width:0px;
  position:absolute;
  left:-627px;
  top:20px;
  width:8px;
  height:40px;
}
#u96_seg3 {
  border-width:0px;
  position:absolute;
  left:-632px;
  top:48px;
  width:18px;
  height:18px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:-368px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:1708px;
  width:0px;
  height:0px;
}
#u97_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u97_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:39px;
  width:18px;
  height:18px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:2128px;
  width:112px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:108px;
  word-wrap:break-word;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:1809px;
  width:0px;
  height:0px;
}
#u99_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u99_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:43px;
  width:18px;
  height:18px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:2090px;
  width:0px;
  height:0px;
}
#u100_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u100_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:26px;
  width:18px;
  height:18px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:2178px;
  width:0px;
  height:0px;
}
#u101_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u101_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:18px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
